/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
  color: #FFF;
}

/*-------------------------------------------------- */
/* big image class */
.big-image {
  height: 300px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing-info .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}
.marketing-info h2 {
	font-family: "Helvetica Neue";
	font-weight: normal;
}
.marketing-info .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .big-image {
    margin-top: 20px;
  }


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
